literature/books/Wiley.Interscience.Elements.of.Information.Theory.Jul.2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/InformationTheoryTutorial_Stone_UShefield_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Physical_Nature_of_Information_Falkovich_Lectures_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/information-theory-and-applications_Bavaoud_2005.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/InformationTheoryAndStatisticalMechanics_JaynesStanfordU_1957.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/EntropyAndInformationTheory_Gray_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Physics_and_Information_Theory_Merhav_Technion.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Information_Theory_and_Statistical_Physics_Merhav_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Arieh_Ben-Naim-A_Farewell_To_Entropy_Statistical_Thermodynamics_Based_On_Information_2008.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Entropy_Order_Parameters_and_Complexity_Sethna_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Information_Theory-Robert_Ash.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Shannon_Claude_E_Weaver_Warren_The_Mathematical_Theory_of_Communication_1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Mathematical_Theory_of_Communication_C_Shannon_bstj_1948.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Mathematical_Theory_of_Communication_C_Shannon_bstj_1948_ver2.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Communication_Theory_of_Secrecy_Systems_Shannon-BSTJ_1949.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Claude_Shannon-Collected_Papers_ATT_Bell_Labs_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Approximations_to_the_Fisher_Information_Metric_of_Deep_Generative_Models_for_Out-Of-Distribution_Detection_Dauncey_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fisher_information_and_information_geometry/An_elementary_introduction_to_information_geometry_Nielsen_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fisher_information_and_information_geometry/methods-of-information-geometry_Shun-ichi_Amari.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/StochasticDifferentialEquations_BerntOksendal_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Information_Theory_Inference_and_Learning_Algorithms_MacKay_2005.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Principles_of_Deep_Learning_Theory_Roberts_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Hierarchical_Text-Conditional_Image_Generation_with_CLIP_Latents_Ramesh_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Diffusion_Models_Beat_GANs_on_Image_Synthesis_Dhariwal_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/GLIDE-Towards_Photorealistic_Image_Generation_and_Editing_with_Text-Guided_Diffusion_Models_Nichol_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Improved_Techniques_for_Training_Score-Based_Generative_Models_Song_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Improved_Denoising_Diffusion_Probabilistic_Models_Nichol_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Introduction_to_Diffusion_Models_for_Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Denoising_Diffusion_Probabilistic_Models_Ho_UCBerkeley_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Generative_Modeling_by_Estimating_Gradients_of_the_Data_Distribution_Song_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Understanding_Diffusion_Models-A_Unified_Perspective_Luo_GoogleBrain_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Deep_Unsupervised_Learning_using_Nonequilibrium_Thermodynamics_Sohl-Dickstein_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Tutorial_on_Diffusion_Models_for_Imaging_and_Vision_Chan_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Latent_Variable_Models_Loehlin_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/the-fokker-planck-equation-methods-of-solution-and-applications-2nd_edition-Risken-1996.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/non_equilibrium_statistical_mechanics/lecture_notes_klaus_schulten/Einstein_Diffusion_Equation_chapter3_Klaus_Schulten_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/non_equilibrium_statistical_mechanics/Probability_flow_solution_of_the_Fokker-Planck_equation_Boffi_NYU_Courrant_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/non_equilibrium_statistical_mechanics/Solving_the_inverse_problem_of_time_independent_Fokker–Planck_equation_with_a_self_supervised_neural_network_method_Liu_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/DiffiT-Diffusion_Vision_Transformers_for_Image_Generation_Hatamizadeh_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/Scalable_Diffusion_Models_with_Transformers_Peebles_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/FiT-Flexible_Vision_Transformer_for_Diffusion_Model_Lu_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/Masked_Diffusion_Transformer_is_a_Strong_Image_Synthesizer_Gao_ICCV_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_autoencoders/Auto-Encoding_Variational_Bayes_Kingma_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_autoencoders/An_Introduction_to_Variational_Autoencoders_Kingma_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Text-to-image_Diffusion_Models_in_Generative_AI-A_Survey_Zhang_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Diffusion_Processes_and_Stochastic_Calculus_Boudoin_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/ModernCodingTheory.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/coding-theory-a-first-course-van-tilborg.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Denoising_Diffusion_Probabilistic_Models_Ho_Jain_Abbeel_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Generative_Models_of_Images_and_Neural_Networks_Peebles_EECS-2023-108.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Differential_Spaces_Wiener_1923.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/DiTFastAttn-Attention_Compression_for_Diffusion_Transformer_Models_Yuan_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/StepByStepDiffusionAnElementaryTutorial_Nakkiran_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Lightweight_Diffusion_Models_A_Survey_Song_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/diffusion_transformer/Scaling_Rectified_Flow_Transformers_for_High-Resolution_Image_Synthesis_Esser_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Numerical_Solution_of_Stochastic_Differential_Equations_Kloeden_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/An_introduction_to_Flow_Matching_Cambridge_MLG_Blog_Jan_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Consistency_Models_Song_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Convergence_of_denoising_diffusion_models_under_the_manifold_hypothesis_Bortoli_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/DPM-Solver++-Fast_Solver_for_Guided_Sampling_of_Diffusion_Probabilistic_Models_Lu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Demystifying_Variational_Diffusion_Models_Ribeiro_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Differential_Diffusion-Giving_Each_Pixel_Its_Strength_Levin_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Score-Based_Generative_Modeling_through_Stochastic_Differential_Equations_Song_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Diffusion_Schrödinger_Bridge_with_Applications_to_Score-Based_Generative_Modeling_De_Bortolli_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/denoising_diffusion_implicit_models_Song_Stanford_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Flow_Matching_for_Generative_Modeling_Lipman_Meta_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Interpreting_and_Improving_Diffusion_Models_from_an_Optimization_Perspective_Permenter_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Extracting_Training_Data_from_Diffusion_Models_usenixsecurity23-carlini.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Perspectives_on_diffusion–Sander_Dieleman_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/High-dimensional_dynamics_of_generalization_error_in_neural_networks_Advani_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Sampling_diffusions_and_stochastic_localization_Montanari_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Numerical_Solution_of_Free_Stochastic_Differential_Equations_Schluechtermann_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Numerical_Solutions_of_Stochastic_Differential_Equations_Wang_PhD_Thesis_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Text-to-image_Diffusion_Models_in_Generative_AI-A_Survey_Zhang_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_neural_nets/Statistical_Mechanics_of_Deep_Linear_Neural_Networks-The_Back-Propagating_Kernel_Renormalization_Li_Sompolinsky_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/thermodynamics_of_computation/Thermodynamics_of_Computations_with_Absolute_Irreversibility_Unidirectional_Transitions_and_Stochastic_Computation_Times_Manzano_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Brownian_Motion_and_Stochastic_Flow_Systems_Harrison_1985.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/thermodynamics_of_computation/Thermodynamic_Linear_Algebra_Aifer_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/conformal_prediction/Conformal_prediction_under_ambiguous_ground_truth_Stutz_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kolmogorov_complexity/Kolmogorov_Complexity_and_its_Applications_Li_1990.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/introduction-to-kolmogorov-complexity-and-its-applications-4th-ed_Li_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Crank-The-Mathematics-of-Diffusion.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Huang-StatMechNeuralNet-Springer21.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_to_Stochastic_Modeling_Taylor_3Ed_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Markov_Chains_Gibbs_Fields_Monte_Carlo_Simulation_and_Queues_Bremaud_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/BayesianReasoningAndMachineLearningBarber2007-2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/partial-differential-equations-by-evans.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Introduction_to_Riemannian_Manifolds_Lee_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Exactly_Solved_Models_In_Statistical_Mechanics_Baxter_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Introduction_to_functional_equations_Efthimiou_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An-Introduction-to-Statistical-Mechanics-and-Thermodynamics-Swendsen-2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/LandauLifshitz-StatisticalPhysics_1958.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Diffusion_Models_are_Evolutionary_Algorithms_Zhang_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Can_One_Hear_the_Shape_of_a_Drum_Kac_1966.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_To_The_Art_of_Mathematical_Inequalities_Steele_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/information_geometry/The_Many_Faces_of_Information_Geometry_Nielsen_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Reconciling_modern_machine_learning_practice_and_the_bias-variance_trade-off_Belkin_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Statistical_Mechanics_of_Learning_Engel_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/The_Statistical_Mechanics_of_Learning_A_Rule_1993RevModPhysWatkin.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Variational_Formulation_of_the_Particle_Flow_Particle_Filter_Yi_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/brownian_motion/The_Brownian_web_the_Brownian_net_and_their_universality_Schertzer_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/A_Fourier_Space_Perspective_on_Diffusion_Models_Falck_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Neural_Diffusion_Models_Bartosh_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Neural_Flow_Diffusion_Models-Learnable_Forward_Process_for_Improved_Diffusion_Modelling_Bartish_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/Musings_on_the_Latest_Generative_AI_developments_by_Paul_Thompson.docx filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Instruct-Imagen-Image_Generation_with_Multi-modal_Instruction_Hu_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/large_language_models/A_Statistical_Physics_of_Language_Model_Reasoning_Carson_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/symmetries_in_thermodynamics/Symmetry_and_control_in_thermodynamics_Adlam_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/symmetries_in_thermodynamics/Thermodynamic_Symmetry_and_Its_Applications_Li_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/geometric_contact_flows/Geometric_Contact_Flows-Contactomorphisms_for_Dynamics_and_Control_Testa_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/Crystal_Statistics_I_A_Two-Dimensional_Model_with_an_Order-Disorder_Transition_Onsager_1944 filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/The_Ising_Model_in_One_and_Two_Dimensions_Obermeyer_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/Crystal_Statistics_II_Partition_Function_Evaluated_by_Spinor_Analysis_Kaufman_1949 filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/Onsager_and_Kaufmans_calculation_of_the_spontaneous_magnetization_of_the_Ising_model_Baxter_2011.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/pysics_emulation_via_gen_models/Lost_in_Latent_Space-An_Empirical_Study_of_Latent_Diffusion_Models_for_Physics_Emulation_Rozet_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Generative_Modeling_of_Weights-Generalization_or_Memorization_Zheng_Princeton_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/A_Note_on_Malliavin_Calculus_by_Paul_Thompson.docx filter=lfs diff=lfs merge=lfs -text
literature/articles/SETOL/SETOL-A_Semi-Empirical_Theory_of_Deep_Learning_Martin_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/deep_research/Deep_Researcher_with_Test-Time_Diffusion_Han_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/test_time_adaptation_via_diffusion/Everything_to_the_Synthetic-Diffusion-driven_Test-time_Adaptation_via_Synthetic-Domain_Alignment_Guo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Adjoint_Sampling-Highly_Scalable_Diffusion_Samplers_via_Adjoint_Matching_Havens_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/monte_carlo/Geometry_and_Dynamics_for_Markov_Chain_Monte_Carlo_Barp_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fisher_information_and_information_geometry/The_Many_Faces_of_Information_Geometry_Frank_Nielsen_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/An_Introduction_to_Flow_Matching_and_Diffusion_Models_Holderrieth_MIT_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Flow_Straight_and_Fast-Learning_to_Generate_and_Transfer_Data_with_Rectified_Flow_Liu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Stochastic_Interpolants-A_Unifying_Framework_for_Flows_and_Diffusions_Albergo_NYU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Flow_Matching_Guide_and_Code_Lipman_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Energy_Matching-Unifying_Flow_Matching_and_Energy-Based_Models_for_Generative_Modeling_Balcerak_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Beneath_the_Kinetic_Interpretation_of_Noise_Escudero_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generative_models/Manifold-constrained_nucleus-level_denoising_diffusion_model_for_structure-based_drug_design_Liu_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Exactly_Solved_Models_in_Statisitchal_Mechanics_Baxter_1982.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/Crystal_Statistics_II_Partition_Function_Evaluated_by_Spinor_Analysis_Kaufman_1949.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Ising_model/Crystal_Statistics_I_A_Two-Dimensional_Model_with_an_Order-Disorder_Transition_Onsager_1944.pdf filter=lfs diff=lfs merge=lfs -text
